<% include ../partials/header %>

<!-- TODO: Improve the display -->
<h1>Patient Details</h1>
<h5>Patient ID: </h5>
<p><%= patient.id %></p>
<h5>Name: </h5>
<p><%= person.Fname + ' ' + person.Mname + ' ' + person.Lname %></p>
<h5>Sex: </h5>
<p><%= person.Sex%></p>
<h5>Age: </h5>
<p><%= person.Age%></p>
<h5>Date of Birth: </h5>
<p><%= person.DateOfBirth%></p>
<h5>Address: </h5>
<p><%= person.Address%></p>
<h5>Contact Number: </h5>
<p><%= person.ContactNumber%></p>
<h5>Referred By: </h5>
<p><%= patient.ReferredBy%></p>
<h5>Consultant Assigned: </h5>
<p><%= patient.ConsultantAssigned%></p>
<h5>Department: </h5>
<p><%= patient.Department%></p>
<h5>Date: </h5>
<p><%= patient.DateTime %></p>
<h5>Total Amount</h5>
<p>Rs. <%=totalAmount%></p>
<h5>Consultancy Fee paid: </h5>
<p>Rs. <%=consultancyFee%></p>
<h5>Other Services Fee paid: </h5>
<p>Rs. <%=otherFee%></p>
<h5>Validity</h5>
<% if (validity > 0){ %>
<p><%=validity%> days</p>
<%}else{%>
<p>Expired!</p>
<%}%>
<a href="/opd" class="btn btn-primary">Back</a>
<a href="/opd/<%=patient.id%>/edit" class="btn btn-success">Edit</a>
<form action="/opd/<%=patient.id%>?_method=DELETE" method="POST">
<input type="submit" name ="del" value="Delete" class="btn btn-danger">
<input type="submit" name ="delAll" value="Delete All Records" class="btn btn-danger">
</form>
<a href="/opd/<%=patient.id%>/receipt" class="btn btn-primary">Create Receipt</a>
<% include ../partials/footer %>